@import _variables


* 
   margin: 0
   padding: 0
   outline: none

body 
   background-color: $gray
   font-family: 'Karla', sans-serif
   font-size: 1rem
   font-weight: 400
   color: $blue
   line-height: 1.65rem

main
   display: grid
   place-items: center
   height: 100vh
   padding: 1rem

h1, h2, a
   font-weight: 700
h1
   font-size: 1.7rem
   color: $cyan
   margin-bottom: 1.5rem
h2
   font-size: 1.2rem
   color: $green
   margin-bottom: .8rem

@media screen and (max-width:640px)
   $padd: 1.6rem
   main
      padding: 4rem 1rem


@import _card
@import _attribution